body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #228B22;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.profile-container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center; 
}

.profile-cover {
    width: 100%;
    height: 200px;
    background-color: #228B22;
    position: relative;
}

.profile-picture {
    width: 120px;
    height: 120px;
    border: 4px solid #fff;
    border-radius: 50%;
    position: absolute;
    top:  25%;
    left: 50%; 
    transform: translate(-50%, -50%); 
}


.username {
    font-size: 24px;
    margin: 20px 0 10px;
}

.user-info {
    padding: 0 20px;
    margin-bottom: 20px;
}

.user-info p {
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #228B22;
    color: #fff;
}