.comments-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 1rem;
  gap: 1rem;
  white-space: pre-line;
}

.likes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.likes {
  text-align: center;
  font-size: 0.8rem;
}