.total-comments {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.view-btn {
  background: none;
	color: inherit;
	border: none;
  padding: 0.5rem;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  display: block;
  margin: 0 auto;
}

.close-btn {
  display: flex;
  float: right;
}

.dialog-container {
  width: 35rem;
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.dialog-text {
  font-family: 'Poppins';
  color: black;
  background-color: lightgray;
}

.add-comment-field {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  background-color: white;
}

.add-comment-container {
  background-color: lightgray;
  margin-top: 0;
}