
.login-page{
    height: 100vh;
    margin: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.login-body-container{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.login-body{
    display:block;
    padding:1rem;
}

.login-header{
    background-color: #1B7D4F;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.login-header-name, .login-header-info, .login-social-media{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: black;
}

.login-header-info a, .login-footer, .login-header{
    color: white;
}

.login-header-info a:hover {
    color:#6cd4f0;
}

.login-footer{
    background-color: #1B7D4F;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    z-index: 10;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1.875rem;
}

.login-error{
    color: red;
    text-align: center;
}

.login-logo{
    width: 1.6875rem;
    height: 1.6875rem;
}

.login-social-media {
    justify-content: center;
    align-items: center;
    padding-bottom:0.4375rem;
}

.login-pic-container{
    height: 100%;
    width: 95%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url('../../Images/login.jpg');
    background-repeat: no-repeat;
    border: #1B7D4F;
    border-width: 0.4375rem;
    border-style: solid;
    border-radius: 0.3125rem;
    
}

.separator-container {
  margin: 0.625rem auto;
  width: 74%;
}

.separator {
  text-align: center;
  background:
    linear-gradient(#000 0 0) left,
    linear-gradient(#000 0 0) right;
  background-size: 47% 0.063rem;
  background-repeat: no-repeat;
}

.gsi-material-button {
    background-color: white;
    background-image: none;
    border: 1px solid #747775;
    border-radius: 4px;
    box-sizing: border-box;
    color: #1f1f1f;
    cursor: pointer;
    font-family: Roboto, arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    max-width: 400px;
    min-width: min-content;
  }
  
  .gsi-material-button .gsi-material-button-icon {
    height: 20px;
    margin-right: 12px;
    min-width: 20px;
    width: 20px;
  }
  
  .gsi-material-button .gsi-material-button-content-wrapper {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
  
  .gsi-material-button .gsi-material-button-contents {
    flex-grow: 1;
    font-family: Roboto, arial, sans-serif;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
  }
  
  .gsi-material-button .gsi-material-button-state {
    transition: opacity .218s;
    opacity: 0;
    position: absolute;
    inset: 0;
  }
  
  .gsi-material-button:disabled {
    cursor: default;
    background-color: #ffffff61;
    border-color: #1f1f1f1f;
  }
  
  .gsi-material-button:disabled .gsi-material-button-contents {
    opacity: 0.38;
  }
  
  .gsi-material-button:disabled .gsi-material-button-icon {
    opacity: 0.38;
  }
  
  .gsi-material-button:not(:disabled):active .gsi-material-button-state, 
  .gsi-material-button:not(:disabled):focus .gsi-material-button-state {
    background-color: #303030;
    opacity: 0.12;
  }
  
  .gsi-material-button:not(:disabled):hover {
    box-shadow: 0 1px 2px 0 rgba(60 64 67 / 30%), 0 1px 3px 1px rgba(60 64 67 / 15%);
  }
  
  .gsi-material-button:not(:disabled):hover .gsi-material-button-state {
    background-color: #303030;
    opacity: 0.08;
  }
  

@media (width >= 48rem) {
    .login-body {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}