.login-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.login-header{
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.login-footer{
    background-color: grey;
}