
.login-page{
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.login-body-container{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.login-body{
    display:block;
    padding:1rem;
}

.login-header{
    background-color: #1B7D4F;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.login-header-name, .login-header-info, .login-social-media{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px
}

a {
    text-decoration: none;
    color: black;
}

.login-header-info a, .login-footer, .login-header{
    color: white;
}

.login-header-info a:hover {
    color:#6cd4f0;
}

.login-footer{
    background-color: #1B7D4F;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
}

.login-error{
    color: red;
    text-align: center;
}

.login-logo{
    width: 27px;
    height: 27px;
}

.login-social-media {
    justify-content: center;
    align-items: center;
}

.login-pic-container{
    /* flex:50%; */
    /* text-align: center;
    height: 100%;
    width: 100%; */
    text-align: center;
    justify-content: center;
    align-items: center;
}

.login-pic-container img{
    /* height: 100%;
    width: 100%; */
    object-fit: cover;
    /* vertical-align:bottom; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
    width: 100%;
  /* width: 50%; */
}

.login-pic{
    /* min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto; */
    /* display: block;
    width: 100%;
    height: 100%; */
    object-fit: cover;
    /* margin: auto; */
    max-width: 100%;
    max-height: 100%;
}

@media (min-width:768px) {
    .login-body {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}